/* Kiểm tra kích thước cửa sổ trong khoảng gần 1528x738 */
@media screen and (min-width: 1500px) and (max-width: 1550px) and (min-height: 720px) and (max-height: 750px) {
    header .menu_side .menu_song {
        height: 412px;
    }

    header .song_side .popular_song .pop_song li .img_play {
        width: 100px;
        height: 100px;
    }

    header .song_side .popular_song .pop_song li {
        height: 140px;
    }
    
}

/* Kiểm tra kích thước cửa sổ trong khoảng gần 1912x954 */
@media screen and (min-width: 1900px) and (max-width: 1950px) and (min-height: 940px) and (max-height: 970px) {
    header .menu_side .menu_song {
        height: 596px;
    }

    header .song_side .popular_song .pop_song li .img_play {
        width: 120px;
        height: 120px;
    }

    header .song_side .popular_song .pop_song li {
        height: 160px;
    }

    header .song_side .popular_song {
        margin-top: 15px !important;
    }

    header .song_side .popular_artists .item li {
        min-width: 80px !important;
        height: 80px !important;
    }
}


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #131312;
    font-family: "Kanit", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 85%;
    height: 95%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu_side, .song_side {
    position: relative;
    width: 25%;
    height: 90%;
    /* border: 1px solid #fff; */
    background-color: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
    overflow: auto;
}
header .menu_side::-webkit-scrollbar, .song_side::-webkit-scrollbar {
    width: 10px; /* Độ rộng của thanh cuộn */
}

header .menu_side::-webkit-scrollbar-track, .song_side::-webkit-scrollbar-track {
    background: #000; /* Màu nền cho track */
    border-radius: 5px;
}

header .menu_side::-webkit-scrollbar-thumb, .song_side::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của thanh cuộn */
    border-radius: 5px;
    border: 2px solid #555; /* Viền cho thanh cuộn */
}

header .menu_side::-webkit-scrollbar-thumb:hover, .song_side::-webkit-scrollbar-thumb:hover {
    background: #555; /* Màu khi rê chuột vào thanh cuộn */
}
header .title {
    display: flex;
    align-items: center;
}

header .logo {
    margin-right: 8px; 
    font-size: 32px;
    margin-top: 2px;
}

header .song_side {
    width: 75%;
    background-color: #0b1320;
}

header .master_play {
    width: 100%;
    height: 10%;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}

header .menu_side h1 {
    font-size: 24px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
    margin-left: 20px;
}

header .menu_side .playlist {
    margin: 40px 0px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu_side .playlist .bi {
    margin: 0 8px;
    font-size: 18px;
}

header .menu_side .playlist .icon {
    margin-bottom: 8px;
    color: white;
    margin-right: 16px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    transition: .3s linear;
}

header .menu_side .playlist .icon:hover {
    background-color: rgba(105, 105, 170,.1);
}


header .menu_side .playlist h4 {
    font-size:  16px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

header .menu_side .playlist h4:hover {
    color: #fff;
}

header .menu_side .menu_song {
    width: 100%;
    /* height: 412px; */
    /* border:  1px solid #fff; */
    margin-top: 40px;
}

header .menu_song .library {
    margin: auto;
    width: 95%;
    background: rgb(105, 105, 170,.1);
    border-radius: 12px;
}

header .menu_song .library h4,
header .menu_song .library p{
    margin: 5px 10px;
}

header .menu_song .library h4 {
    font-size: 18px;
    font-weight: 500;
}

header .menu_song .library p {
    font-size: 16px;
    font-weight: 400;
}

header .menu_song .library button {
    margin: 10px 10px 15px;
    padding: 8px 20px;
    background-color: #f5f5f5;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

header .menu_song .library button:hover {
    transform: scale(1.05);
}

header .master_play {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    background: linear-gradient(to right, #111727 0%, #36e2ec 30%, #111727 90%);
    color: #fff;
}

header .master_play .premium_notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(105, 105, 170, 0.1);
    border-radius: 12px;
    width: 100%; /* Điều chỉnh độ rộng nếu cần */
}

header .master_play .premium_notice .premium_info {
    max-width: 70%;
}
    
header .master_play .premium_notice .premium_btn {
    padding: 12px 24px;
    background-color: #fff;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

header .master_play .premium_notice .premium_btn:hover {
    transform: scale(1.05);
}
header .master_play .premium_notice h4,
header .master_play .premium_notice p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header .song_side {
    z-index: 2;
}

header .song_side::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    top: 10%;
    background: 
        linear-gradient(to left, rgba(11, 19, 32, 0) 10%, rgba(11, 19, 32, 1) 100%), /* Mờ dần rộng hơn */
        url('accests/img/Banner2.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

header .song_side nav {
    width: 90%;
    height: 10%;
    margin: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side .home_searchbar {
    display: flex;
    width: 100%;
}

header .song_side .home_btn {
    width: 22px;
    border-radius: 50%;
    background-color: rgba(105, 105, 170, 0.1);
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    cursor: pointer;
    padding: 0 15px;
}

header .song_side .home_btn:hover {
    transform: scale(1.05);
}


header .song_side .login_register {
    display: flex;
}

header .song_side .login_btn {
    background-color: #36e2ec;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
    padding: 10px 30px;
    transition: transform 0.2s ease;
    margin-left: 20px;
    font-size: 14px;
}

header .song_side .login_btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(54, 226, 236, 0.4);
}

header .song_side .register_btn {
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

header .song_side .register_btn:hover {
    transform: scale(1.05);
}

header .song_side nav ul {
    display: flex;
}

header .song_side nav ul li{
    position: relative;
    list-style-type: none;
    font-size: 16px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side nav ul li:hover{
    color: #fff;
}

header .song_side nav ul li:nth-child(1){
    color: #fff;
}

header .song_side nav ul li span {
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

header .song_side nav .search {
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    color: gray;
}

header .song_side nav .search::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgb(105, 105, 170,.1);
    backdrop-filter: blur(5px);
    z-index: -1;
}

header .song_side nav .search .bi {
    font-size: 14px;
    padding: 3px 0px 0px 10px;
}

header .song_side nav .search input {
    background: none;
    outline: none;
    border: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 14px;
}

header .song_side nav .user {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

header .song_side nav .user img {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #131312;
}

header .song_side .content {
    width: 90%;
    height: 30%;
    margin: auto;
    /* border: 1px solid #fff; */
    padding-top: 20px;
}

header .song_side .content {
    width: 90%;
    height: 30%;
    margin: auto;
    /* border: 1px solid #fff; */
    padding-top: 20px;
}

header .song_side .content h1 {
    font-size: 25px;
    font-weight: 600;

}

header .song_side .content p {
    font-size: 11px;
    font-weight: 400;
    color: #4c5262;
    margin: 5px;
}

header .song_side .content p {
    font-size: 11px;
    font-weight: 400;
    color: #4c5262;
    margin: 5px;
}

header .song_side .content .buttons {
    margin-top: 15px;
}

header .song_side .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;   
    background: #5adae0;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side .content .buttons button:hover {
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
    
}

header .song_side .content .buttons button:nth-child(2) {
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
    
}

header .song_side .content .buttons button:nth-child(2):hover {
    border: 2px solid #36e2ec;
    background: #36e2ec;
    color: #fff;
    
}

header .song_side .popular_song {
    width: 90%;
    height: auto;
    /* border: 1px solid #fff; */
    margin: auto;
    margin-top: 120px;
}

header .song_side .popular_song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side .popular_song .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side .popular_song .h4 .bi:hover {
    color: #fff;

}

header .song_side .popular_song .pop_song {
    width: 100%;
    /* height: 150px; */
    margin-top: 15px;
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
}

header .song_side .popular_song .pop_song::-webkit-scrollbar {
    display: none;
}

header .song_side .popular_song .pop_song li {
    min-width: 100px;
    /* height: 140px; */
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear
}

header .song_side .popular_song .pop_song li:hover {
    background: rgb(105, 105, 170,.1);
}

header .song_side .popular_song .pop_song li .img_play {
    position: relative;
    /* width: 100px;
    height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

header .song_side .popular_song .pop_song li .img_play img{
    width: 100%;
    height: 100%;
}

header .song_side .popular_song .pop_song li .img_play .bi{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transform: .3s linear;
    opacity: 0;
}

header .song_side .popular_song .pop_song li .img_play:hover .bi{
    opacity: 1;
}

header .song_side .popular_song .pop_song li h5 {
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 12px;
}

header .song_side .popular_song .pop_song li .subtitle {
    font-size: 10px;
    color: #4c5262;
}

header .song_side .popular_artists {
    width: 90%;
    height: auto;
    /* border: 1px solid #fff; */
    margin: auto;
    margin-top: 15px;
}

header .song_side .popular_artists .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side .popular_artists .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side .popular_artists .h4 .bi:hover {
    color: #fff;
}

header .song_side .popular_artists .item {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

header .song_side .popular_artists .item::-webkit-scrollbar {
    display: none;
}


header .song_side .popular_artists .item  li {
    list-style-type: none;
    position: relative;
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

header .song_side .popular_artists .item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
}